@{
    ViewData["Title"] = "About Me";
    List<string> jobTasks = new List<string>() 
    { "Write functional code in order to update and test the company website.",
      "Optimize ASP.NET, JavaScript, HTML, & CSS.",
      "Lead a team of employees in order to fulfill orders in a set amount of time.",
      "Configure, troubleshoot, and work with Stone Edge Order Manager for inventory and orders."};
}
<h1>@ViewData["Title"]</h1>
<div id="aboutDiv">
<div id="skillDiv">
    <h2>Skills</h2>
    <ul id="skillList">
    </ul>
</div>
<div id="degreeDiv">
    <h2>Education</h2>
    <p>School: Northcentral Technical College</p>
    <table id="degreeTable">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Year</th>
        </tr>
    </table>
</div>
</div>
<div id="expDiv">
    <h2>Relevant Experience</h2>
    <h4>Front-End Developer/Lead Computer Assembler</h4>
    @foreach (string s in jobTasks){
        <p>-@s</p>
    }
</div>