@{
    ViewData["Title"] = "About Me";
    List<string> jobTasks = new List<string>()
    { 
      "Write functional code in order to update and test the company website.",
      "Optimize ASP.NET, JavaScript, HTML, & CSS.",
      "Lead a team of employees in order to fulfill orders in a set amount of time.",
      "Configure, troubleshoot, and work with Stone Edge Order Manager for inventory and orders"
    };

    List<string> skills = new List<string>()
    {
        "C#", ".NET Framework", "ASP.NET MVC", "HTML5", "CSS3", "JavaScript", "Node.js", "React", "Angular","T-SQL", "SQL Server", "SSIS",
        "Web APIs", "Azure DevOps", "Azure Services", "Communication", "Technical Writing"
    };
}
<div id="aboutDiv">
<div id="skillDiv" class="row2">
    <h2 class="aboutTitle">Skills</h2>
        @foreach (string s in skills){
            <div class="column2">
                <div>
                    <p class="skillText">@s</p>
                </div>
            </div>
    }
</div>
<div id="degreeDiv">
    <h2 class="aboutTitle">Education</h2>
    <table id="degreeTable">
        <tr>
            <th>Name</th>
            <th>Type</th>
        </tr>
    </table>
</div>
</div>
<div id="expDiv">
    <h2>Relevant Experience</h2>
    <div class="jobCard">
        <p><h4>Front-End Developer/Lead Computer Assembler</h4> July 2021 - Present</p>
        @foreach (string s in jobTasks)
        {
            <p>-@s</p>
        }
    </div>
</div>
<div class="buttonContainer">
    <a href="..\docs\Resume.pdf" target="_blank"><button id="projectsButton">Resume</button></a>
</div>