@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1>

<div>
    <h2>Skills</h2>
    <ul id="skillList">
    </ul>
</div>
<div>
    <table id="degreeTable">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Year</th>
        </tr>
    </table>
</div>