@model Email

<div class="text-center">
    <h1 id="homeTitle" class="display-4">Thank you for contacting me.</h1>
    <p id="sumP">
        I will reply as soon as possible. If you would like to contact me using a different method, additional contact information is listed below.
    </p>
    <div>
        <p id="contactP">
            <b>Phone:</b> 715-252-8941
        </p>
        <p id="contactP">
            <b>Email:</b> jemjefferson@gmail.com
        </p>
    </div>
</div>
<div class="buttonContainer">
    <a asp-controller="Home" asp-action=""><button id="projectsButton">Home</button></a>
</div>