@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 id="homeTitle" class="display-4">Hello, I'm Jordan Jefferson</h1>
    <p id="sumP">A Software Devleoper with specialties in C# & JavaScript. I build complex applications through frameworks such as ASP.NET.
         I use my problem solving skills in order to get any task done.
    </p>
</div>
<div class="buttonContainer">
    <a asp-controller="Home" asp-action="Projects"><button id="projectsButton">Projects</button></a>
</div>
