@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello, I'm Jordan Jefferson</h1>
    <p>.NET developer</p>
</div>
<div class="buttonContainer">
    <button id="projectsButton"><a asp-controller="Home" asp-action="Projects">Projects</a></button>
</div>
