<div class="row">
    <div class="column">
        <a href="https://timeworks.azurewebsites.net" target="_blank">
        <div class="card">
            <h3>TimeWorks</h3>
            <img src="../images/timeworks.png" id="cardPhoto"/>
            <p>Employee time tracking application</p>
        </div>
        </a>
    </div>
    <div class="column">
        <a asp-action="Index">
            <div class="card">
            <h3>Portfolio</h3>
            <img src="../images/jordan.jpg" id="cardPhoto"/>
            <p>My personal portfolio website</p>
        </div>
        </a>
    </div>
    <div class="column">
        <div class="card">
            <h3>Bug Tracker</h3>
            <img src="../images/bug.png" id="cardPhoto" />
            <p>Coming Soon...</p>
        </div>
    </div>
</div>
<div>
    <h4>All source code is available in GitHub.</h4>
    <h4>More projects in development located in GitHub.</h4>
</div>