html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url('/images/background.jpg');
  background-size: 100%;
  margin-bottom: 60px;
}

footer {
    text-align: center;
    background: white;
}

.nav-item {
    text-align: right;
}

a {
    text-decoration: none;
}

img {
    height:5%;
    width: 5%;
}

#navPicture {
    border-radius: 50%;
    height: 4%;
    width: 4%;
}
/*HOME PAGE*/

.buttonContainer {
    display: block;
    margin: auto;
    padding: 10px;
    text-align: center;
}

#projectsButton {
    border-radius: 10%;
    text-align: center;
    background-color: yellow;
    color: black;
    transform: scale(1.5);
    width: 10%;
    height: 20%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px;
}

#projectsButton a {
    color: black;
}

/*ABOUT PAGE*/

#Aboutdiv{
    display: flex;
}
#skillDiv {
    float: left;
    width: 50%;
}
#degreeDiv{
    float: right;
    width: 50%;
}
#degreeTable, #degreeTable tr, #degreeTable td, #degreeTable th {
    border: 1px solid black;
}