@font-face{
    font-family: 'RobotoSlab';
    src: url(../fonts/RobotoSlab-VariableFont_wght.ttf);
}

/*GENERAL AND LAYOUT STYLES*/
* {
    font-family: 'RobotoSlab', Garamond;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url('/images/background2.jpg');
  background-size: 100%;
  margin-bottom: 60px;
}

footer {
    text-align: center;
    background: white;
}

.nav-item {
    display: block;
    font-size: 120%;
    font-weight: 500;
    transition: box-shadow 0.1s;
}

a {
    text-decoration: none;
    color: black;
}

.nav-item:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px;
}

.navbar-brand {
    position: absolute;
    left: 6%;
    font-size: 120%;
    font-weight: 500;
}

#navPicture {
    border-radius: 50%;
    height: 4%;
    width: 4%;
}

.sideNav {
    height: 18%;
    width: 5%;
    position: fixed;
    z-index: 1;
    top: 37%;
    background-color: white;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 20px;
    border: 1px solid black;
    border-radius: 30px;
    left: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px;
}

.sideNav a {
    padding: 0px 8px 6px 16px;
    display: block;
    margin: auto;
}

.linkLogo {
    height: 80%;
    width: 80%;
    margin: auto;
}

/*HOME PAGE*/

#homeTitle {
    font-weight: 400;
}

.buttonContainer {
    display: block;
    margin: auto;
    padding: 3%;
    text-align: center;
}

#projectsButton {
    text-align: center;
    background-color: #ffcc66;
    color: black;
    transform: scale(1.8);
    width: 15%;
    height: 20%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px;
    border: none;
}

#projectsButton:hover {
    background-color: #FFAE42;
}

#projectsButton:active {
        background-color: #ff9933;
}

#projectsButton a {
    color: black;
}

#sumP {
    margin: auto;
    font-size: 120%;
    width: 80%;
    padding: 3%;
}

/*ABOUT PAGE*/

#Aboutdiv {
    display: flex;
}
#skillDiv {
    float: left;
    width: 40%;
}

#skillList {
    width: 100%;
}

#degreeDiv{
    float: right;
    width: 60%;
}

#degreeTable tr, #degreeTable td, #degreeTable th {
    padding: 1%;
    text-align: center;
}
#degreeTable {
    width: 100%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px;
}

#degreeTable th {
    background-color: #ffcc66;
    font-weight: 700;
    font-size: large;
}

#degreeTable td {
    font-weight: 400;
}

#expDiv {
    clear: both;
    padding: 2%;
}
#expDiv h2 {
    text-align: center;
}

.column2 {
    float: left;
    border-radius: 8px;
    padding: 1%;
    vertical-align: middle;
    background-color: #d3d3d3;
    margin: 0.7%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px;
    font-weight: 550;
}

.row2 {
}

.skillText {
    display:table-cell;
    vertical-align: middle;
}

.tableRow1 {
    background-color: white;
}

.tableRow2 {
    background-color: #F1F1F1;
}

.tableRow1:hover, .tableRow2:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px;
}

.jobCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    background-color: #f1f1f1;
    margin: auto;
    width: 80%;
    transition: transform 0.2s;
}

.jobCard:hover {
    transform: scale(1.03);

}

/*PROJECTS PAGE*/

.column {
    float: left;
    width: 33%;
    padding: 0 10px;
}

.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.03);
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

#cardPhoto {
    width: 70%;
    height: 70%;
    margin: auto;
}

#cardPhoto2 {
    width: 60%;
    height: 60%;
    margin: auto;
}

.space {
    padding: 1%;
}

#projectText {
    text-align: center;
    padding-top: 3%;
}

/*CONTACT PAGE*/
#form {
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    border: 1px solid black;
    padding: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #f1f1f1;
}

.form-group {
    color: black;
}

input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#submitButton {
    display: block;
    text-align: center;
    margin: auto;
    width: 30%;
    height: 30%;
    text-align: center;
    background-color: #ffcc66;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px;
    border: none;
    transform: scale(1.5);
}

#submitButton:hover {
    background-color: #FFAE42;
}

#submitButton:active {
    background-color: #ff9933;
}

#contactTitle {
    text-align: center;
}