/*GENERAL AND LAYOUT STYLES*/
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url('/images/background.jpg');
  background-size: 100%;
  margin-bottom: 60px;
}

footer {
    text-align: center;
    background: white;
}

.nav-item {
    text-align: right;
}

a {
    text-decoration: none;
}

#navPicture {
    border-radius: 50%;
    height: 4%;
    width: 4%;
}

.sideNav {
    height: 25%;
    width: 6%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 37%;
    background-color: white;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 20px;
    border: 1px solid black;
}

.sideNav a {
    padding: 6px 8px 6px 16px;
    display: block;
    margin: auto;
}

.linkLogo {
    height: 80%;
    width: 80%;
    margin: auto;
}

/*HOME PAGE*/

#homeTitle {
    font-weight: 400;
}

.buttonContainer {
    display: block;
    margin: auto;
    padding: 3%;
    text-align: center;
}

#projectsButton {
    text-align: center;
    background-color: #ffcc66;
    color: black;
    transform: scale(1.5);
    width: 10%;
    height: 20%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px;
    border: none;
}

#projectsButton:hover {
    background-color: #ff9933;
}

#projectsButton a {
    color: black;
}

#sumP {
    margin: auto;
    font-size: 120%;
    width: 80%;
    padding: 3%;
}

/*ABOUT PAGE*/

#Aboutdiv {
    display: flex;
}
#skillDiv {
    float: left;
    width: 50%;
}
#degreeDiv{
    float: right;
    width: 50%;
}
#degreeTable, #degreeTable tr, #degreeTable td, #degreeTable th {
    border: 1px solid black;
}

/*CONTACT PAGE*/
#form {
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    border: 1px solid black;
    padding: 2%;
}

.form-group {
    color: black;
}

input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#submitButton {
    display: block;
    text-align: center;
    margin: auto;
    width: 30%;
    height: 30%;
}