/*GENERAL AND LAYOUT STYLES*/
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url('/images/background.jpg');
  background-size: 100%;
  margin-bottom: 60px;
}

footer {
    text-align: center;
    background: white;
}

.nav-item {
    text-align: right;
}

a {
    text-decoration: none;
}

#navPicture {
    border-radius: 50%;
    height: 4%;
    width: 4%;
}

.sideNav {
    height: 25%; /* Full-height: remove this if you want "auto" height */
    width: 6%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    left: 0;
    top: 37%;
    background-color: white; /* Black */
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 20px;
    border: 1px solid black;
}

.sideNav a {
    padding: 6px 8px 6px 16px;
    display: block;
}

.linkLogo {
    height: 80%;
    width: 80%;
    margin: auto;
}

/*HOME PAGE*/

.buttonContainer {
    display: block;
    margin: auto;
    padding: 10px;
    text-align: center;
}

#projectsButton {
    border-radius: 10%;
    text-align: center;
    background-color: yellow;
    color: black;
    transform: scale(1.5);
    width: 10%;
    height: 20%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px;
}

#projectsButton a {
    color: black;
}

/*ABOUT PAGE*/

#Aboutdiv {
    display: flex;
}
#skillDiv {
    float: left;
    width: 50%;
}
#degreeDiv{
    float: right;
    width: 50%;
}
#degreeTable, #degreeTable tr, #degreeTable td, #degreeTable th {
    border: 1px solid black;
}

/*CONTACT PAGE*/
#form {
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    border: 1px solid black;
}

.form-group {
    color: black;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#submitButton {
    display: block;
    text-align: center;
    margin: auto;
    width: 30%;
}